body {margin:0;}

.navbar {
    overflow: hidden;
    background-color: #8080ff;
    font-family: Arial, Helvetica, sans-serif;
	padding:0px;
	margin:10px;
	width: 98%;
	border-radius: 25px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 20px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color:#eee;
		border-radius: 25px;
	
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:#8080ff;
    width: 98%;
    z-index: 1;
	border-radius: 25px;
	padding:0px;
	margin:2px;
}

.subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}
.title{ 
		font-weight:lighter;
		font-family:sans-serif;
		font-size:40px;
		color:#993366;
		border:black solid 2px;
		background-color:#191919;
		padding:10px;
		margin:10px;
		border-radius: 25px;
}
table{
	border-collapse:collapse;
	padding-left:20px;
	padding-right:20px;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
@-ms-viewport {
  width: device-width ;
}
